:root {
  --midnight: #3a3a42;
  --ivory: #f1e2c9;
  --water: #71a4a3;
  --walnut: #542932;

  /* Chosen colors to complement */
  --linen: #F9EBE0;
  --midnightgreen: #0B3C49;
  --mountbattenpink: #A28497;
}

/*  
#foo {
  color: var(--main-color);
}
*/
html {
  display: block;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0%;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  height: auto;
}

section {
  padding-bottom: 1.25rem;
}

h1 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  font-size: 7em;
  color: white;
  /* mix-blend-mode: difference; */
  z-index: 10;
  letter-spacing: 0.1em;
}

h2 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 500;
  font-size: 6.5em;
  color: white;
  letter-spacing: 0.1em;
  /* background-color: white; */
}

h3 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 400;
  font-size: 2em;
  letter-spacing: 0.2em;
  color: white;
}

h4 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  font-size: 1.7em;
  letter-spacing: 0.2em;
}

h5 {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: white;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
}

header {
  padding-right: 5%;
}

a {
  /* color: white;
  font-family: 'Advent Pro', sans-serif; */
  text-decoration: none;
  /* height: 40px; */
}


img {
  width: 550px;
  height: auto;
  display: block;
  object-fit: cover;
}

/* NAVIGATION BANNER */
.nav-main-container {
  position: relative;
  width: 100%;
  max-height: 725px;
  margin: 0%;
  background-color: white;
  background: linear-gradient(to left,
      rgba(255, 250, 250, 0.1) 0%,
      rgba(255, 250, 250, 0.1) 50%,
      black 50%,
      black 50%,
      black 100%);
  overflow: hidden;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a b c";
  /* Brown:34290D */
}

.difference-title {
  grid-area: a;
  position: relative;
  display: inline-block;
  padding: 5%;
  margin: 30% 5%;
  width: auto;
  height: 200px;
  line-height: 80px;
}

.img-container {
  position: relative;
  display: inline-block;
  width: 100%;
  z-index: -1;
  grid-area: b;
}

.callout-container {
  grid-area: c;
  display: inline-block;
  position: relative;
  /* top: 20%;
  left: 10%; */
  padding: 5%;
  margin: 60% 0%;
  z-index: 9;
  width: 300px;
}

.callout-container p {
  font-size: 1.3em;
  font-weight: 200;
}

/* NAVIGATION BAR */
#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 100;
  display: flex;
  /* justify-content: space-around; */
  justify-content: right;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+main {
  padding-top: 100px;
}

#initials {
  font-family: 'Advent Pro', sans-serif;
  font-weight: 300;
  font-size: 1.8em;
  color: #71a4a3;
  padding-bottom: 10px 5px;
}

/* Navbar links */
.nav__link {
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
}

#navbar a:hover {
  background-color: #f1e2c9;
  color: black;
}

#rsvp__button {
  background-color: #71a4a3;
  margin-right: 30px;
  color: black;
}

/* BUTTON */
#button {
  display: block;
  width: 150px;
  height: 40px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

#button a {
  background-color: var(--midnight);
  border: none;
  color: white;
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  mix-blend-mode: difference;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 150px;
  position: relative;
  top: 10px;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid var(--water);
  position: absolute;
  right: -30px;
  top: 10px;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid var(--water);
  position: absolute;
  left: -30px;
  top: -1px;
}

/* Schedule */
.schedule__container {
  background-color: white;
  background: linear-gradient(to left,
      rgba(255, 250, 250, 0.1) 0%,
      rgba(255, 250, 250, 0.1) 50%,
      #542932 50%,
      #542932 50%,
      #542932 100%);
}

.section_title {
  line-height: 0.75em;
}

.title_map {
  width: 100%;
  height: 250px;
  display: inline-flex;
  flex-direction: row;
}

.section_title__wrapper {
  z-index: 10;
  grid-column: 2 / 6;
  grid-row: 2 / 5;

}

.location_details {
  grid-column: 8 / 12;
  grid-row: 1 / 4;
  text-align: center;
  padding-top: 2rem;
}

.location_details h3 {
  color: black;
}

.run_of_show {
  grid-column: 8 / 12;
  grid-row: 5 / 8;
  margin: 0 auto;
  text-align: left;
}

.run_of_show span {
  font-weight: 400;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.7em;
}

.run_of_show li {
  font-weight: 100;
  /* font-size: 1.5em; */
}

.run_of_show ul {
  list-style-type: none;
  list-style-position: inside;
  line-height: 2em;
  margin: 0;
  padding-left: 0;
  /* font-family: 'Advent Pro', sans-serif; */
  font-weight: 200;
  font-size: 1.5em;
  /* letter-spacing: 0.2em; */
}

.color_block {
  background-color: #542932;
  grid-column: 7 / 13;
  grid-row: 8 / 14;
  margin-left: -15px;
}

#map {
  grid-column: 1/7;
  grid-row: 8/ 14;
  padding-right: 10px;
  width: 100%;
  z-index: 10;
}

.map-link a {
  text-decoration: underline;
  text-decoration-style: dotted;
  color: black;
  cursor: pointer;
  font-style: normal;
}

.map-link:hover {
  text-decoration-style: double;
}

.color_block__text {
  font-weight: 100;
  font-size: 4em;
  text-align: center;
  padding: 2rem;
}

.color_block__wrapper {
  line-height: normal;
  padding: 2rem;
}


/* RSVP */
.rsvp__container {
  background-color: white;
  background: linear-gradient(to left,
      rgba(255, 250, 250, 0.1) 0%,
      rgba(255, 250, 250, 0.1) 50%,
      var(--mountbattenpink) 50%,
      var(--mountbattenpink) 50%,
      var(--mountbattenpink) 100%);
  grid-template-rows: repeat(7, 5vw);
}

.confirm_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-row: 3 / 5;
  grid-column: 7/ 13;
}

/* GRID LAYOUTS */
.grid__layout {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(13, 5vw);
  gap: 1.25rem;
}

.oneRow_grid__layout {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(7, 5vw);
  gap: 1.25rem;
}

/* STORY */
.grid__layout_story {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.story__wrapper {
  grid-column: 1 / 6;
  grid-row: 2/7;
  background-color: black;
  padding-left: 5rem;
  padding-top: 5rem;
}

.color_block__story {
  background-color: black;
  grid-column: 7/ 14;
  grid-row: 7 / 12;
  display: flex;
  align-items: center;
}

.begin__wrapper {
  padding: 0rem 2rem;
}

.color_block__story_text {
  font-weight: 100;
  font-size: 2em;
  text-align: left;
  color: white;
  padding-left: 2rem;
}

.begin {
  font-size: 1.6em;
}

.gallery__item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.story__title {
  z-index: 10;
  grid-column: 1 / 3;
  grid-row: 1 / 5;
}

.begin_story {
  grid-column: 7/ 14;
  grid-row: 9 / 14;

  /* max-height: 340px; */
}

.begin_story p {
  color: white;
}

#her_story {
  grid-column: 1 / 8;
  grid-row: 12 / 16;
  padding: 0rem 2rem;
}

#his_story {
  grid-column: 7/ 14;
  grid-row: 16 / 22;
  padding: 0rem 2rem;
  text-align: center;
  padding: 0rem 2rem;
  text-align: center;
}

#engage_story {
  grid-column: 1 /6;
  grid-row: 22 / 27;
  padding: 0rem 2rem;
  text-align: center;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery_img_1 {
  grid-column: 1 / 7;
  grid-row: 7 /12;
}

.gallery-img-2 {
  grid-column: 6 / 14;
  grid-row: 22 / 27;
}

.gallery_img_3 {
  grid-column: 6/14;
  grid-row: 2/ 7;
}

.gallery-img-4 {
  grid-column: 8 / 14;
  grid-row: 12 / 16;
}

.gallery-img-5 {
  grid-row: 16 / 22;
  grid-column: 1 / 7;
}

/* REGISTRY */
.registry__container {
  background-color: var(--midnight);
  background: linear-gradient(to left,
      rgba(255, 250, 250, 0.1) 0%,
      rgba(255, 250, 250, 0.1) 50%,
      var(--midnightgreen) 50%,
      var(--midnightgreen) 50%,
      var(--midnightgreen) 100%);
}

/* FAQs */

.grid__layout_faqs {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1.25rem;
}

.faqs__container {
  background-color: var(--midnight);
}

.faq_box {
  grid-column: 3 / 11;
  grid-row: 5 / 13;
}

/* Hiding the checkboxes or radio button*/
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */

.faq {
  color: white;
  margin-bottom: 3rem;
}

.faq-label {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  background: var(--water);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}


.faq-label::after {
  content: '\002B';
  padding: 0.51rem;
  transform: scale(1.8);
  text-align: center;
  transition: all 0.35s;
}

.faq-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  display: none;
}

.faq-content p {
  padding: 0 1em;
}

.faq-content a {
  color: var(--water);
}

.faq-content ul {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 2.5rem;
}

input:checked+.faq-label {
  background: var(--midnightgreen);
}

input:checked+.faq-label::after {
  content: '\2013';
  transform: scale(1.5);
}

input:checked~.faq-content {
  max-height: 100vh;
  padding: 1em;
  display: block;
  transition: all 0.35s;
}

/* Footer Menu Section */
.footer_detail {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;

  display: inline-flex;

  background-color: black;
  height: 8rem;

  justify-content: space-between;
  flex-flow: wrap;
  align-items: center;
  /* width: 100%; */

}

.footer_detail header {
  padding: 2rem;
}

.footer-header {
  display: inline-block;
  color: white;
  position: relative;
  text-align: center;
  padding: 1rem;
}

.footer-header h2 {
  font-family: 'Advent Pro', sans-serif;
  color: white;
  font-weight: 700;
  font-size: 2em;
}

.footer-description {
  flex: 2;
  /* padding-left: 0px; */
  text-align: center;
}

.footer-description p {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.footer-description a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: none;
}


.social-media {
  align-self: center;
  justify-content: flex-end;
  margin: 0px;
}

.social-icons>li {
  display: inline flex;
  padding: 1rem;
}

.social-icons a {
  text-decoration: none;
  padding: 1rem;
}

.social-icons i:hover {
  color: var(--water);
}

i {
  font-size: 30px;
  color: white;
}

/* FOOTER */
footer {
  position: relative;
  width: 100%;
  text-align: center;
  background-color: black;
  margin: 0px;
  padding: 10px 0px;

}

footer i {
  display: block;
  margin: 0;
  color: var(--water);
  font-size: 15px;
}

footer p {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}

footer a {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  position: relative;
  top: 0px;
}

/* Media Queries */
@media only screen and (max-width: 1400px) {
  .nav-main-container {
    background: black;
    grid-template: 1fr/ repeat(2, 1fr);
    grid-template-areas:
      "a b";
    max-height: 45rem;
    ;
  }

  .difference-title {
    grid-area: b;
    height: auto;
    z-index: 9;
    width: auto;
    padding: 5%;
    margin: 30% 5%;
  }

  .difference-title h1 {
    color: white;
  }

  .img-container {
    z-index: 0;
    grid-area: a;
  }

  main {
    width: 100%;
  }

  p {
    font-size: 1.0em;
  }

  /* h2 {
    font-size: 4em;
  } */

  .callout-container {
    grid-area: b;
    z-index: 19;
    top: 10%;
    padding-left: 60px;
  }

}

@media only screen and (max-width: 1100px) {
  .container {
    margin: 0px;
    overflow: hidden;
    gap: 0px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .callout-container {
    display: inline-block;
    position: relative;
    width: 90%;
    top: 0%;
    height: auto;
    padding: 0px;
    left: 0%;
    margin: 0;
  }

  .story__title {
    padding: 10px;
    margin: 10px;
  }

  .text__container {
    padding: 10px 30px;
  }

  .section-info {
    width: 90%;
    height: auto;
    padding-bottom: 0%;
    padding-left: 5%;
  }

  .callout-container {
    display: none;
  }

  /* SCHEDULE */
  .schedule__container {
    background: white;
  }

  .section_title__wrapper {
    padding: 2rem;

  }

  .schedule__wrapper {
    background-color: #542932;
  }

  .location_details {
    background-color: white;
    padding-top: 0rem;
  }

  .run_of_show {
    padding-bottom: 2rem;
  }

  .color_block {
    display: none;
  }

  /* RSVP */
  .rsvp__container {
    background: white;
  }

  .rsvp__wrapper {
    background: var(--mountbattenpink);
  }

  .confirm_wrapper {
    padding: 2rem;
  }

  .confirm_wrapper #button {
    padding-bottom: 2rem;
  }

  .confirm_wrapper h4 {
    text-align: center;
  }

  /* STORY */
  .story__wrapper {
    background: black;
    grid-column: 1 / 14;
    grid-row: 1/4;
  }

  /*  */
  .registry__container {
    background: white;
  }

  .registry__wrapper {
    background: var(--midnightgreen);
  }
}

@media only screen and (max-width: 1090px) {
  .story__container {
    background-color: black;
  }

  .begin__wrapper {
    padding-top: 8em;
    padding-right: 2em;
  }

  .color_block__story_text {
    font-weight: 100;
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 10px;
  }

  .begin {
    font-size: 1.6em;
  }

  .gallery__item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  .story__wrapper {
    background: black;
    grid-column: 1 / 12;
    grid-row: 1/2;
  }

  .story__title {
    z-index: 10;
    grid-column: 1 / 12;
    grid-row: 1 / 2;
  }

  .begin_story {
    grid-column: 1 / 12;
    grid-row: 4 / 5;
    /* max-height: 340px; */
  }

  .begin_story p {
    color: white;
  }

  .color_block__story {
    background-color:  black;
    display: grid;
    grid-column: 1 / 12;
    grid-row: 7 / 8;
  }

  #her_story {
    grid-column: 1 / 12;
    grid-row: 11 / 12;
    padding: 0 2rem;
    text-align: center;
  }

  #his_story {
    grid-column: 1 / 12;
    grid-row: 15 / 16;
    padding: 0rem 2rem;
    text-align: center;
  }

  #engage_story {
    grid-column: 1 / 12;
    grid-row: 19 / 20;
    padding: 0rem 2rem;
    text-align: center;
  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery_img_1 {
    grid-column: 1 / 12;
    grid-row: 2 / 3;
  }

  .gallery_img_2 {
    grid-column: 1 / 12;
    grid-row: 6 / 7;
    margin-top: -1.25rem;
  }

  .gallery_img_3 {
    grid-column: 1 / 12;
    grid-row: 11 / 12;
    margin-top: -1.25rem;
  }

  /* .gallery_img_3 {
    grid-column: 1 / 12;
    grid-row: 15 / 16;
    margin-top: -1.25rem;
  } */

  .gallery-img-4 {
    grid-column: 1 / 12;
    grid-row: 18 / 37;
  }

  .gallery-img-5 {
    grid-column: 1 / 12;
    grid-row: 40 / 51;
  }
}

@media only screen and (max-width: 1000px) {
  .nav-main-container {
    height: auto;
    width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
    flex-flow: wrap;
    overflow: hidden;
    position: relative;
  }

  .difference-title {
    position: absolute;
    bottom: 15rem;
    padding: 0%;
    margin-left: 0rem;
    z-index: 100;

    height: auto;
    width: auto;
    /* display: inline-block; */
  }

  h1:after {
    content: 'MIEYA & TAYLOR';
  }

  h1>span {
    display: none;
  }

  .difference-title h1 {
    font-size: 5em;
    color: white;
  }

  img {
    width: 100%;
  }

  main {
    width: 100%;
  }

  section {
    padding: 0px;
    width: 100%;
  }

  /* NAV BAR */
  #navbar {
    justify-content: center;
    flex-wrap: wrap;
  }

  .sticky {
    position: relative;
  }


  .sticky+main {
    padding: 3rem;
  }

  .vertical__left {
    text-orientation: sideways;
    writing-mode: horizontal-tb;
  }

  h2 {
    font-size: 5em;
  }
}

@media only screen and (max-width: 700px) {
  .img {
    max-width: 100%;
  }

  .difference-title h1 {
    font-size: 4em;
    color: white;
  }

  .difference-title {
    /* left: 3rem; */
    bottom: 20rem;
  }

  .color_block__story_text {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 625px) {
  .difference-title {
    left: auto;
    bottom: 22rem;
    margin-left: 0rem;
  }

  .img {
    max-width: 100%;
  }

  h2 {
    font-size: 2.5em;
  }

  .difference-title h1 {
    font-size: 3em
  }

  .footer-section {
    flex-direction: column;
    flex-flow: column;
  }

  .footer-section header {
    padding-right: 0%;
  }

  .color_block__story_text {
    font-size: 1.1em;
  }

}

@media only screen and (max-width: 545px) {
  .difference-title h1 {
    font-size: 3rem;
  }


  .difference-title {
    left: 2rem;
    bottom: 25rem;
    margin-left: 0rem;
  }

}

@media only screen and (min-width: 400px) and (max-width: 447) {
  .difference-title h1 {
    font-size: 2rem;
  }


  .difference-title {
    left: 2rem;
    bottom: 0rem;
    margin-left: 0rem;
  }

}

@media only screen and (max-width: 422px) {
  .difference-title h1 {
    font-size: 2rem;
  }

  .difference-title {
    left: 6rem;
    bottom: 23rem;
    margin-left: 0rem;
  }
}

@media only screen and (max-width: 375px) {
  .difference-title h1 {
    font-size: 2.2rem;
  }


  .difference-title {
    left: 5rem;
    bottom: 20rem;
    margin-left: 0rem;
  }
}